# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output & production builds
.next/
out/
build/
dist/

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env*
!.env.example

# Vercel deployment files
.vercel

# IDEs, Editors & System files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.pem

# Testing & Coverage
coverage/
.nyc_output
cypress/videos
cypress/screenshots

# TypeScript / Cache
*.tsbuildinfo
next-env.d.ts